datasets
ipykernel
ipywidgets
matplotlib
numpy
pandas
scikit-learn
seaborn
torch
transformers
accelerate>=1.1.0
gradio
python-dotenv
evaluate
absl-py
nltk
rouge_score
bert-score
openai
deepeval
anthropic
pypdf
sentence-transformers
faiss-cpu
streamlit
anthropic
pypdf
sentence-transformers
faiss-cpu
